:root {
 --container: 380px;
 --fz: 15px;
 --ff: "Roboto";
 --text: #111;
 --light-text: rgba(0, 0, 0, 0.6);
 --prime-color: #4687ff;
 --accent-color: #fe6912;
 --light-color: rgba(70, 135, 225, 0.1);
 --light-blue: #b5cfff;
 --light-grey: #dbdfe9;
}
